<div  class="alert-success" >
 <%=  notice %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
  <%= render 'layouts/book_user', book: @newbook, user: @bookuser %>
      </div>

<div class="col-xs-8 offset-1">
  <h3><i class="fas fa-cogs"></i> Book setting</h3>
  <% if @book.user == current_user %>
  <table class="table table-striped">
    <tr class="thead-dark">
  <th>Title</th>
  <th>Opinion</th>
  <th>Setting</th>
  <th></th>
    </tr>
    <tr>
  <td><%= @book.title %></td>
  <td><%= @book.body %></td>

  <td>
    <%= link_to "Edit", edit_book_path(@book) %>
  </td>
  <td>
    <%= link_to "Delete", book_path(@book), method: :delete %>
  </td>
  </tr>
  </table>

  <% else %>

  <table>
    <tr>
  <th></th>
  <th>Title</th>
  <th>Opinion</th>
    </tr>
    <tr>
  <td>ユーザー画像</td>
  <td><%= @book.title %></td>
  <td><%= @book.body %></td>
    </tr>
  </table>

  <% end %>

  </div>
</div>
</div>