<div class="container respo">


<h3><i class="fas fa-glasses"></i> User info</h3>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "img/no_image.jpg",size:'100x100' %>
<div>
<h6><i class="fas fa-signature"></i>name</h6>
<p class="text-break" style="width: 10rem;">
  <%= user.name %>
</p>
</div>

<div>
<h6><i class="fas fa-file-signature"></i>introduction</h6>
<p class="text-break" style="width: 10rem;">
<%= user.introduction %>
</p>
</div>

  <% if user.id == current_user.id %>
    <%= link_to edit_user_path(user), class:"btn-dark btn-sm btn-block text-center" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
  <hr>

<h3><i class="fas fa-folder-plus"></i> New book</h3>

<%= form_with(model: book, local: true) do |f| %>
  <p><i class="far fa-bookmark"></i> Title</p>
  <%= f.text_field :title %>
  <p><i class="far fa-comment-dots"></i> Opinion</p>
  <%= f.text_area :body %>
  <br>
  <%= f.submit 'Create Book', class:"btn-dark btn-sm btn-block text-center" %>
<% end %>
<br>


</div>